In [422]:
import os
from collections import OrderedDict

import numpy as np
import pandas as pd
import requests
import seaborn as sns
import xarray as xr

% matplotlib inline

### WB Data Analysis

**<span style="color:red; background:yellow;"></span>**

**Data & Scope:** downloaded on (date/time)
Two types of datasets:

1) Population (easy)
* years 1960-2016
* definition: total # residents (Regardless of citizenship/legal status)
* sources: (mid-year value)

    1) United Nations Population Division. World Population Prospects
    
    2) Census reports and other statistical publications from national statistical offices
    
    3) Eurostat: Demographic Statistics
    
    4) United Nations Statistical Division. Population and Vita

2) GDP (slightly more tricky)
- years: 1960 - 2016
- four types of `gdp per capita` I looked at:

    * current
    * constant
    * PPP current
    * PPP constant

**Source:** World Bank

**Assumptions/Expectations**
-

**Analysis Goals**
- Task 3 Deliverable: ADM0 population & real income estimates from `1950-2017`  **<span style="color:gray; background:lime;">DONE</span>**

- Find out which countries are missing data for which years. 
    Population **<span style="color:gray; background:lime;">DONE</span>**
    GDP
- Or alternatively, which years are missing certain *countries*

Possible convenience functions:
* Find years missing for a given country (to check important countries)
* Create filter for population > 10 mil: look at countries exit/enter data on which years. (Mike's suggesiton)
* From metadata, get a list of country code that are not *countries* to filter them from the list **<span style="color:gray; background:lime;">DONE</span>**


**Conclusion**
1. Population. Population data exists from **1960 to 2016.**
    
```  
Countries out of 217 that are missing population data (nan):

West Bank and Gaza: 1960 - 1989
Serbia: 1960 - 1989
Sint Maarten (Dutch part): 1960 -1998
Kuwait: 1992-1994
Eritrea: 2012-2016

```

2. GDP 

```
Countries out of 217 that are missing gdp data

a. GDP per capita PPP (constant) **<span style="color:gray; background:yellow;">In Progress</span>**

b. GDP per capita PPP (current)

c. GDP per capita (constant)

d. GDP per capita (current)
```


**Questions**
1. How are different sources of population data used to result in one final set? (are there any overlaps between 4 sources?) i.e. what is the methodology for compilation?

2. How often are population/income data updated?

# A. Population data

Total population (absolute units) - based on national census and extrapolation and interpolation for missing values (based on data from United Nations, other census organizations, Eurostats and WB methodology). Subject to undercounting/biases for both high and low/mid income countries. 

Interpolation and extrapolation done by World Bank/UN (??-confirm the responsible party) for certain years/countries that are missing census data, or missing pre/post census information for given time frame. Uses demographic models, etc.

In [423]:
df2 = pd.read_csv('population/API_SP.POP.TOTL_DS2_en_csv_v2.csv', skiprows=3)
del df2['Unnamed: 62'] # remove extraneous data
df2.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')

In [424]:
df2
df2['2017'].unique() # nan -> all 2017 values nan

array([ nan])

In [425]:
cols = ['Country Name'] + ['Country Code'] + [str(yr) for yr in range(1960, 2017)]
#print (cols)
df_pop = df2[cols]
df_pop # includes Country Name and all years (1960-2016)
df_pop.shape # 264 countries???, 58 columns

(264, 59)

In [426]:
df_pop.head(5)   # Show top 5 rows
df_pop.isnull().sum()
# note that nan values per year changes from 1-4, 1989 and prior are all 4,
# after that there is a shifts six times:
# 4 (60-89) -> 2 (90-91)-> 3 (92-94) -> 2 (95-97) -> 1 (98-2011)-> 2 (2012-2016)-> 264 (2017)

# Compare two years (diff countries)

df_pop['1989'].isnull()
pd.isnull(df_pop).any(1).nonzero()[0]

array([ 67, 108, 125, 194, 212, 223])

NOTE on nans:

* `df.isnull().sum()`: returns total number of nan values for each column (whole df) <- what I used
* comparison of nan == np.nan to find nan values does not work (returns False)
* can use np.isnan(val) for a single value OR possibly use `apply` method for whole col (did not try)

In [427]:
df_pop.iloc[67] # Eritrea missing 2012-2016
df_pop.iloc[108] # Not classified missing all # what is this....?
df_pop.iloc[194] # West Bank and Gaza missing 1960 - 1989
df_pop.iloc[212] # Serbia missing 1960 - 1989
df_pop.iloc[223] # Sint Maarten (Dutch part) 1960 -1998
df_pop.iloc[125] # Kuwait missing 1992-1994

# doing this manual painful way for now
df_pop['1960'].isnull().sum() # 4 
df_pop['1990'].isnull().sum() # expect 2 (excluding West Bank/Serbia)
df_pop['1993'].isnull().sum() # expect 3 (Kuwait missing too)
df_pop['1995'].isnull().sum() # expect 2 (Kuwait back again)
df_pop['1999'].isnull().sum() # expect 1 Sint Maarten back
df_pop['2012'].isnull().sum() # expect 2 (Eritrea goes missing)
df_pop['2016'].isnull().sum() # expect 2

# drop unclassified country since it's contributing 0 population 
#df_pop.drop(df_pop.index[108])

#print(df_pop['Country Name'].tolist())

2

# B. Meta data (Filter non-countries)

Both population and income dataset includes list of countries (217) plus various classifications as entry data. These include:

Task:

- get a list of country codes for *non-countries* from metadata
- use that list to filter those country codes from income or population data

In [437]:
os.listdir("./population/")

# 263 - 46 # total # 217 countries

# Q - why is this suddenly failing?
#meta_country = pd.read_csv('./population/Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2.csv')

['API_SP.POP.TOTL_DS2_en_csv_v2.csv',
 'Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2.csv',
 'Metadata_Indicator_API_SP.POP.TOTL_DS2_en_csv_v2.csv']

In [438]:
def filter_non_countries(_df, _metadata):
    '''
    _df : pd.DataFrame
        either income or population data
        
    _metadata : pd.DataFrame
        metadata on a list of entries including countries and non-countries 
        data source is from the World Bank
        has IncomeGroup column that is not null for countries (217)
    
    '''
    _merged = _df.merge(_metadata, on='Country Code')
    
    non_country_mask = _merged['IncomeGroup'].isnull()
    merged_country_only = _merged[~non_country_mask]
    return merged_country_only

def select_relevant_cols(_df):
    _cols = ['Country Name'] + ['Country Code'] + [str(yr) for yr in range(1960, 2017)]
    return _df[_cols]

df_country_only = filter_non_countries(df2, meta_country)
select_relevant_cols(df_country_only)[200:205]

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
244,Uganda,UGA,6788214.0,7006633.0,7240174.0,7487429.0,7746198.0,8014401.0,8292776.0,8580676.0,...,30590487.0,31663896.0,32771895.0,33915133.0,35093648.0,36306796.0,37553726.0,38833338.0,40144870.0,41487965.0
245,Ukraine,UKR,42662149.0,43203635.0,43749470.0,44285899.0,44794327.0,45261935.0,45682308.0,46060452.0,...,46509350.0,46258200.0,46053300.0,45870700.0,45706100.0,45593300.0,45489600.0,45271947.0,45154029.0,45004645.0
247,Uruguay,URY,2538651.0,2571690.0,2603887.0,2635129.0,2665390.0,2694537.0,2722877.0,2750093.0,...,3339741.0,3350824.0,3362755.0,3374415.0,3385624.0,3396777.0,3408005.0,3419546.0,3431552.0,3444006.0
248,United States,USA,180671000.0,183691000.0,186538000.0,189242000.0,191889000.0,194303000.0,196560000.0,198712000.0,...,301231207.0,304093966.0,306771529.0,309348193.0,311663358.0,313998379.0,316204908.0,318563456.0,320896618.0,323127513.0
249,Uzbekistan,UZB,8549493.0,8837349.0,9138097.0,9454250.0,9788986.0,10143740.0,10520879.0,10917446.0,...,26868000.0,27302800.0,27767400.0,28562400.0,29339400.0,29774500.0,30243200.0,30757700.0,31298900.0,31848200.0

##  Playing around with data

### Getting data for country

In [439]:
# Returns all values of the 'Country Name' column as an array
#df2['Country Name'].values #lists all countries
# United States
# China
# India

china = get_row_by_country_name(df2, 'China')
india = get_row_by_country_name(df2, 'India')
usa = get_row_by_country_name(df2, 'United States')

def get_first_and_last_years(_country):
    # _country is a dataframe (1 row)
    return _country[['1960', '2016']]
    
    
get_first_and_last_years(china)
get_first_and_last_years(usa)
get_first_and_last_years(india)

# manual confirmation: these values match online WB values (https://data.worldbank.org/indicator/SP.POP.TOTL?year_high_desc=true)

            1960          2016
107  449480608.0  1.324171e+09

In [440]:
def get_missing_years(country_name):
    '''
    Calculate the number of years the country has no
    data points (ie. has nan value)
    
    Parameters
    ----------
    country_name : Str
        name of given country
        
    Returns 
    -------
    Missing years in default range (1960-2017), where 
    each year is a string : List
    
    ex. ['1990',  '2005'']

'''
    country = df.loc[df['Country Name'] == country_name]
    return country

# Get countries as dataframe (subset of original) by first letter
def get_by_first_letter(df, first_letter):
    return df.loc[df['Country Name'].str.startswith(first_letter)]

# Get country by name
def get_row_by_country_name(_df, country_name):
    return _df[_df['Country Name'] == country_name]

# Get country row from dataframe by index
def get_by_index(df, country_idx):
    return df.iloc[country_idx]

# Get all countries that start with S
s_countries = get_by_first_letter(df, 'S')
#s_countries
    
# Get_by_first_letter(df, 'K') # example South Korea is index 124
# get_by_index(df, 124)

# C. GDP data

1) GDP per capita, PPP constant (NY.GDP.PCAP.PP.KD)
### GDP per capita PPP (constant at 2011 `$`)

In [441]:
# Open files
# NY.GDP.PCAP.PP.KD is WDI indicator
'''
PCAP = per capita
PP = purchasing power (no PP means not PP)
KD = constant (vs CD = current)
'''
df = pd.read_csv('./gdp/gdp_pcap_ppp_constant/API_NY.GDP.PCAP.PP.KD_DS2_en_csv_v2.csv', skiprows=3)
gdp_meta = pd.read_csv('./gdp/gdp_pcap_ppp_constant/Metadata_Country_API_NY.GDP.PCAP.PP.KD_DS2_en_csv_v2.csv')

In [442]:
# Get variables (column names)
df.columns # years 1960-2017
df.shape

(264, 63)

### Filter non countries (should return 217 entries) and subset only interested columns

In [443]:
df_gdp_country_only = filter_non_countries(df, gdp_meta)
df_gdp = select_relevant_cols(df_gdp_country_only)
df_gdp.shape # 217, 59

(217, 59)

### TASK: Get missing years/countries

In [444]:
pd.isnull(df_gdp).any(1).nonzero()[0]

df_gdp

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35973.780510,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1284.775213,1298.143159,1531.173993,1614.255001,1660.739856,1839.273579,1814.155825,1780.382366,1747.978457,1739.583177
2,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5443.126215,5978.334873,5908.051427,5895.114088,5911.254334,5998.638601,6185.013829,6260.132681,6231.067992,6024.726138
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8447.882285,9153.981440,9524.609811,9927.135147,10207.700674,10369.761659,10504.093089,10715.329581,11024.915108,11424.628319
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79283.052704,71724.277611,61118.903796,57579.835168,58404.015591,59813.016525,62532.734910,64126.892086,65975.375548,67133.065522
7,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17900.706342,18436.862467,17168.378937,18712.063077,19629.351845,19224.874400,19482.190295,18797.547947,19101.297392,18479.442211
8,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7010.627056,7558.361648,6532.964231,6702.848006,7022.103943,7511.132482,7727.929092,7971.117928,8180.050057,8174.366732
9,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24245.754411,23969.566844,20836.179961,19147.970556,18602.425358,19105.115398,18862.816760,19521.300576,20113.753554,20777.613083
11,Australia,AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40649.664217,41316.600054,41207.128995,41384.923552,41782.284942,42561.120671,42920.104479,43395.571436,43832.426221,44414.029479
12,Austria,AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43714.896341,44252.535299,42459.977201,43174.976306,44237.960317,44365.128528,44161.536355,44122.650407,44074.947745,44143.700165
13,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13243.212856,14364.994234,15393.893291,15950.257458,15754.152363,15888.217995,16593.188760,16715.105521,16698.863653,15994.009742
14,Burundi,BDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,747.676475,759.339932,760.061723,763.831930,771.509424,778.735484,790.714518,803.172837,748.541645,721.176562
15,Belgium,BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41672.432007,41653.487443,40375.486847,41086.561536,41248.692700,41006.421726,40780.872177,41355.162022,41723.123728,41945.692123
16,Benin,BEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1805.622568,1841.249801,1831.762518,1818.778461,1820.894693,1855.843428,1934.595772,2001.129161,1987.167146,2009.961384
17,Burkina Faso,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1302.184069,1355.540785,1354.084964,1424.781747,1472.716191,1521.453651,1518.327184,1535.715597,1550.847029,1594.576777
18,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2148.473993,2252.168733,2339.865769,2442.728888,2570.850145,2706.586745,2835.766620,2973.041565,3132.567540,3319.353556
19,Bulgaria,BGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14795.792724,15741.417644,15174.625806,15283.179782,15676.053222,15771.994537,15997.241821,16302.218347,17000.068662,17709.075186
20,Bahrain,BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43321.283600,42776.895149,41256.062130,41107.476609,40696.150970,41502.432973,43245.063159,44417.520368,44507.829959,NaN
21,"Bahamas, The",BHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25392.081337,24350.381402,22925.967263,22895.065738,22674.727816,23029.421685,22714.766994,22303.587856,21670.117557,21481.726100
22,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9282.375631,9818.248500,9579.844859,9716.828525,9893.378230,9910.302815,10269.179341,10493.795504,10902.122659,11179.349910
23,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13539.602216,14972.268898,15035.699797,16235.171336,17166.695643,17479.929135,17656.118956,17944.209513,17229.554657,16742.255496
24,Belize,BLZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7901.213708,7949.629143,7808.309416,7875.255948,7855.698287,7974.262913,7903.471036,8050.287621,8061.331847,7831.454486
25,Bermuda,BMU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60117.459910,60675.982086,57151.919132,56395.007800,54984.510395,52137.300373,50669.314770,NaN,NaN,NaN
26,Bolivia,BOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4972.491563,5191.131904,5278.038268,5407.470220,5598.508445,5792.933051,6090.695570,6324.827258,6531.519398,6707.956184
27,Brazil,BRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13271.047044,13806.014920,13653.013958,14539.084535,14973.098474,15118.138451,15430.268276,15370.996370,14666.018168,14023.691623
28,Barbados,BRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16083.366674,16078.994667,15365.464989,15345.607627,15404.785227,15396.760305,15335.333793,15297.584147,15390.327050,15588.268987
29,Brunei Darussalam,BRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84503.538755,81905.658129,79512.755013,80552.864471,82434.883091,81993.932077,79070.245932,76089.286574,74600.164297,71788.783391
30,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5446.362486,5592.162848,5851.678019,6419.675599,6805.878456,7032.746660,7070.792468,7366.424126,7735.632398,8105.796967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Turks and Caicos Islands,TCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,Chad,TCD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1741.487056,1736.919173,1752.119931,1925.195118,1863.845605,1962.877730,2007.077319,2076.650008,2047.637179,1845.914679
229,Togo,TGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1190.580141,1184.601851,1193.513083,1208.281210,1233.834912,1259.334474,1275.195451,1315.340260,1350.810961,1382.109747
230,Thailand,THA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12607.081109,12757.157840,12605.373119,13486.562415,13535.133268,14448.329351,14777.978288,14853.464526,15236.706465,15681.814091
231,Tajikistan,TJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1886.665630,1991.893162,2022.460983,2106.338756,2211.753822,2324.369287,2440.586951,2546.500484,2640.589520,2762.585453
232,Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7815.008519,8844.633509,9248.886549,9942.426956,11212.538513,12235.368616,13236.039649,14332.365770,14992.323137,15648.373119
234,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1355.166770,1528.734522,1704.905188,1852.772598,1963.288622,2031.649801,2041.357019,2110.314812,2151.107055,NaN
236,Tonga,TON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4641.842775,4755.384318,4836.622488,4983.890197,5101.505373,5128.538777,4950.429514,5030.955118,5188.863920,5332.472445
239,Trinidad and Tobago,TTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31047.534843,31951.020600,30403.810016,31260.907047,31012.716419,31254.788734,31925.777272,31595.560011,31283.458015,29578.956388
240,Tunisia,TUN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9698.423639,10003.299493,10195.576513,10436.365600,10120.677173,10404.223294,10579.042943,10751.446075,10749.859167,10752.016825
241,Turkey,TUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17901.477932,17836.805193,16783.441468,17959.259107,19660.889490,20282.028376,21650.756766,22401.880431,23382.251514,23679.396390
242,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3079.373919,3294.014445,3117.543849,3006.536799,3230.929323,3207.293505,3220.702126,3265.846974,3323.797254,3385.434222
243,Tanzania,TZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1942.488616,1986.914954,2028.609813,2090.583225,2186.131582,2227.828714,2316.443060,2402.099346,2490.957101,2583.279039
244,Uganda,UGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1392.698402,1462.660817,1508.416925,1540.132177,1628.901607,1635.142889,1637.352827,1666.477917,1692.529517,1713.851192
245,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8497.059496,8739.686077,7479.342170,7824.498452,8281.867126,8322.173034,8338.915050,8243.473515,7464.939834,7668.055776
247,Uruguay,URY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14330.294716,15307.857951,15900.829253,17082.404655,17904.745822,18477.379121,19270.576092,19827.564984,19831.445894,20046.926833
248,United States,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51011.425026,50383.840560,48557.867645,49372.619204,49790.665478,50519.526606,51008.459971,51830.990566,52789.965566,53272.515710
249,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3525.435558,3781.528957,4019.435793,4239.702208,4469.997484,4765.860109,5067.360265,5370.865802,5700.236028,6038.871414
250,St. Vincent and the Grenadines,VCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9848.748637,10494.010341,10265.459452,9915.577619,9871.648577,10009.130829,10193.272622,10307.222428,10463.079377,10758.563121
251,"Venezuela, RB",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17275.959357,17897.098462,17053.931313,16544.972055,16981.335491,17678.812497,17665.239998,NaN,NaN,NaN
252,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Vietnam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3907.265357,4084.823662,4259.960398,4486.261073,4715.886349,4910.314336,5121.740811,5370.209980,5667.410939,5955.261888
255,Vanuatu,VUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2833.643045,2944.261460,2970.033065,2948.032937,2915.299885,2899.164415,2890.189390,2892.341604,2806.789686,2856.475310
257,Samoa,WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5709.361492,5728.009131,5414.239286,5399.893096,5667.490534,5644.292861,5489.787094,5511.163112,5558.791879,5882.148619
258,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7362.304190,7496.567871,7685.104955,7875.931157,8169.283992,8332.649202,8530.023805,8644.865308,9097.136991,9331.687718
259,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4192.211071,4227.580387,4272.811752,4478.743690,3805.237994,3793.412857,3872.789957,3766.806001,2641.045829,2325.069960
260,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11982.339522,12196.605761,11842.159936,12028.933976,12243.879088,12329.630327,12445.635929,12462.026452,12425.337980,12260.165354
261,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2748.858048,2881.811825,3060.067789,3279.277161,3361.112069,3509.413319,3576.680691,3632.503753,3627.202041,3636.059711
262,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1493.587587,1208.957127,1290.254664,1460.402835,1663.456376,1848.193306,1901.183463,1908.477594,1890.777897,1859.937441

In [445]:
xr_gdp = df_gdp.to_xarray()

xr_gdp['Country Code']
xr_gdp['Country Name']
xr_nn = xr_gdp.notnull()
xr_nn.argwhere(~xr_nn)

AttributeError: 'Dataset' object has no attribute 'argwhere'

### TASK: Get list of years missing for a country

Super naive EDA

In [ ]:
# Series.value_counts() -> get unique counts of values

# Count nan
sorted(df.isnull().sum(axis=1).unique().tolist()) # 17 unique values
# Why do some countries have randomly missing years? (source of inconsistency?)

In [ ]:
# Get all rows 
# Get selected columns (ranging from 1960 to 2017)
df_1960_2017 = df.loc[:, '1960':'2017']

#df_1960_2017.apply(lambda s: s.value_counts(), axis=0)

df_1960_2017.apply(lambda s: s.value_counts(), axis=0)
#print(len(df_1960_2017.isnull().sum(axis=1).tolist())) # 264 = # countries

# returns list of # nan per country
num_nan_per_country = df_1960_2017.isnull().sum(axis=1).tolist()
print(df_1960_2017.isnull().sum(axis=1).tolist())

list_of_countries = [x for x in df['Country Name'].values]
num_countries = len(list_of_countries)

# not really useful!!!!!

#countries = {list_of_countries[i]: {'num_missing': num_nan_per_country[i]} for i in range(0, num_countries)}
#countries

In [ ]:
# Write a function that counts values for each column
# Purpose: to count how many NA values are there in each row
df['1960'].value_counts()
type(df.iloc[0]['1960']) # numpy.float64


# single value check
np.isnan(df.iloc[0]['1960']) # True 



# find the countries that have nan values in 1989 and prior years, 
# but don't have

### Fetching data via API

This approach is abandoned because json data is harder to manipulate for this analysis.
Pandas rocks.

In [ ]:
#r = requests.get('http://api.worldbank.org/v2/countries/all/indicators/SP.POP.TOTL?format=json', auth=('user', 'pass'))

In [ ]:
#r.headers['Content-Type'] # 'application/json;charset=utf-8'
#r.json()