In [8]:
import os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import xarray as xr

% matplotlib inline

### UN Population Data Analysis

**Data & Scope:** downloaded on 12/12 3.40 pm
- 1950-2100
    - historical/current: 1950-2015 are estimates
    - projections (probabilistic): 2016 and beyond (9 different variants)
- Population data only.
- Update status: 
    - last update - 20 Aug 2013 
    - next udpate - summer 2019
- Refer to *Look at Data* Section below for detailed information on variables
in data

**Source:** United Nations (http://data.un.org/Data.aspx?d=PopDiv&f=variableID%3a12)
- total population - `WPP2017_TotalPopulationBySex.csv`
- meta data (233/ countries only) `WPP2017_F02_METAINFO` 
- meta data (273/ countries, regions and groupings) `WPP2017_F01_LOCATIONS`

**Analysis Goals**
- Compare UN population data with PWT, WB, and IMF data
- Outline UN's methodology for population data, note any limitations/assumptions.

*Currently Out of Scope*
- Also evaluate whether UN dataset seems reliable for future projection X 

**Conclusion**

**Questions**

Table of contents

1. Open and munge data
    - filter/reformat
2.  Find missing years/countries

#### Open UN data

In [9]:
root_dir = os.environ['ZERG']

In [10]:
df = pd.read_csv(root_dir + 'data/UN/WPP2017_TotalPopulationBySex.csv')

#### Open Other Data Sources (WB, PWT)

In [11]:
df_wb = pd.read_csv('/Users/mlimb/Dropbox/covariate_project/zerg/data/WB/population/API_SP.POP.TOTL_DS2_en_csv_v2.csv', skiprows=3)
df_pwt = pd.read_stata('/Users/mlimb/Dropbox/covariate_project/zerg/data/PWT/pwt90.dta')

#df_pwt.head(5)

In [12]:
290-17

273

#### Look at UN data

Variables/columns:
`LocID` (int) integer code associated with location. # choice of numbers seem alphabetical

    (Development group, Income group, Region-eg. Africa, Subregion-eg. Eastern Africa)

`Location` (Str) country / region name

`VarID` (int) ID associated with one of the 9 variants (used for future projection). 2 - Medium.

`Variant` (Str) variant type. One of ['Medium', 'High', 'Low', 'Constant fertility',
       'Instant replacement', 'Zero migration', 'Constant mortality',
       'No change', 'Momentum']

`Time` (int) year, ranging from 1950 to 2100

`MidPeriod` (float) mid-year as given by 1950.5... 2100.5

`PopMale` (float) total male population

`PopFemale` (float) total female population

`PopTotal` (float) total population, both sexes

In [13]:
df.columns

Index(['LocID', 'Location', 'VarID', 'Variant', 'Time', 'MidPeriod', 'PopMale',
       'PopFemale', 'PopTotal'],
      dtype='object')

In [14]:
df.shape

(371007, 9)

In [15]:
print(df['Time'].nunique()) # 151 years
print(df['Location'].nunique()) # 273 unique country/areas
print(df['Variant'].nunique())# 9 variants #

151
273
9

In [16]:
df['Time'].unique()
df['Time'].unique().min(), df['Time'].unique().max() # get year range

(1950, 2100)

In [17]:
# trying groups to filter country/non-country (eg region)

In [18]:
g = df.groupby('Location')
g.groups.get('Africa')
#g.get_group('Western Africa')# Note: groups include regions too 
g.get_group('World') # Note: groups include World too
g.get_group('Less developed regions') # groups include development group too... then likely income group too
g.get_group('Low-income countries') # groups include incomegroup too

# need to exclude World, Development, Income groups, etc.
# get filter via LocID**

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal
20838,1500,Low-income countries,2,Medium,1950,1950.5,62996.623,65100.001,128096.648
20839,1500,Low-income countries,2,Medium,1951,1951.5,63891.798,66077.339,129969.107
20840,1500,Low-income countries,2,Medium,1952,1952.5,64868.243,67123.514,131991.799
20841,1500,Low-income countries,2,Medium,1953,1953.5,65940.532,68253.486,134194.006
20842,1500,Low-income countries,2,Medium,1954,1954.5,67117.039,69476.508,136593.546
20843,1500,Low-income countries,2,Medium,1955,1955.5,68400.004,70796.098,139196.080
20844,1500,Low-income countries,2,Medium,1956,1956.5,69785.143,72209.952,141995.133
20845,1500,Low-income countries,2,Medium,1957,1957.5,71262.108,73710.065,144972.227
20846,1500,Low-income countries,2,Medium,1958,1958.5,72815.569,75283.665,148099.273
20847,1500,Low-income countries,2,Medium,1959,1959.5,74426.867,76915.059,151341.932
20848,1500,Low-income countries,2,Medium,1960,1960.5,76079.704,78590.451,154670.163
20849,1500,Low-income countries,2,Medium,1961,1961.5,77766.089,80303.169,158069.258
20850,1500,Low-income countries,2,Medium,1962,1962.5,79491.220,82058.479,161549.718
20851,1500,Low-income countries,2,Medium,1963,1963.5,81276.055,83875.298,165151.369
20852,1500,Low-income countries,2,Medium,1964,1964.5,83150.644,85780.790,168931.464
20853,1500,Low-income countries,2,Medium,1965,1965.5,85136.165,87793.802,172929.952
20854,1500,Low-income countries,2,Medium,1966,1966.5,87238.862,89920.211,177159.065
20855,1500,Low-income countries,2,Medium,1967,1967.5,89449.788,92151.788,181601.570
20856,1500,Low-income countries,2,Medium,1968,1968.5,91756.151,94475.721,186231.925
20857,1500,Low-income countries,2,Medium,1969,1969.5,94138.484,96872.943,191011.431
20858,1500,Low-income countries,2,Medium,1970,1970.5,96581.876,99328.751,195910.639
20859,1500,Low-income countries,2,Medium,1971,1971.5,99082.751,101840.381,200923.157
20860,1500,Low-income countries,2,Medium,1972,1972.5,101643.444,104410.116,206053.605
20861,1500,Low-income countries,2,Medium,1973,1973.5,104261.608,107034.505,211296.083
20862,1500,Low-income countries,2,Medium,1974,1974.5,106936.006,109710.380,216646.371
20863,1500,Low-income countries,2,Medium,1975,1975.5,109665.652,112436.138,222101.799
20864,1500,Low-income countries,2,Medium,1976,1976.5,112454.462,115215.328,227669.815
20865,1500,Low-income countries,2,Medium,1977,1977.5,115302.624,118050.131,233352.815
20866,1500,Low-income countries,2,Medium,1978,1978.5,118201.822,120937.048,239138.889
20867,1500,Low-income countries,2,Medium,1979,1979.5,121140.937,123871.296,245012.264
...,...,...,...,...,...,...,...,...,...
350743,1500,Low-income countries,10,Momentum,2071,2071.5,504453.525,512657.895,1017111.395
350744,1500,Low-income countries,10,Momentum,2072,2072.5,505213.743,513526.925,1018740.694
350745,1500,Low-income countries,10,Momentum,2073,2073.5,505840.605,514255.107,1020095.757
350746,1500,Low-income countries,10,Momentum,2074,2074.5,506338.698,514846.280,1021184.959
350747,1500,Low-income countries,10,Momentum,2075,2075.5,506713.692,515305.489,1022019.209
350748,1500,Low-income countries,10,Momentum,2076,2076.5,506969.746,515636.622,1022606.316
350749,1500,Low-income countries,10,Momentum,2077,2077.5,507113.555,515846.176,1022959.734
350750,1500,Low-income countries,10,Momentum,2078,2078.5,507158.116,515946.332,1023104.442
350751,1500,Low-income countries,10,Momentum,2079,2079.5,507119.103,515951.935,1023071.064
350752,1500,Low-income countries,10,Momentum,2080,2080.5,507011.052,515877.025,1022888.057
350753,1500,Low-income countries,10,Momentum,2081,2081.5,506842.873,515730.448,1022573.325
350754,1500,Low-income countries,10,Momentum,2082,2082.5,506623.309,515521.392,1022144.694
350755,1500,Low-income countries,10,Momentum,2083,2083.5,506366.637,515264.288,1021630.887
350756,1500,Low-income countries,10,Momentum,2084,2084.5,506088.190,514975.251,1021063.457
350757,1500,Low-income countries,10,Momentum,2085,2085.5,505801.569,514668.493,1020470.053
350758,1500,Low-income countries,10,Momentum,2086,2086.5,505515.409,514353.274,1019868.705
350759,1500,Low-income countries,10,Momentum,2087,2087.5,505236.886,514037.654,1019274.574
350760,1500,Low-income countries,10,Momentum,2088,2088.5,504975.955,513732.433,1018708.386
350761,1500,Low-income countries,10,Momentum,2089,2089.5,504742.192,513448.383,1018190.563
350762,1500,Low-income countries,10,Momentum,2090,2090.5,504543.343,513194.238,1017737.531
350763,1500,Low-income countries,10,Momentum,2091,2091.5,504384.277,512976.353,1017360.571
350764,1500,Low-income countries,10,Momentum,2092,2092.5,504267.504,512798.578,1017066.114
350765,1500,Low-income countries,10,Momentum,2093,2093.5,504193.726,512663.247,1016856.952
350766,1500,Low-income countries,10,Momentum,2094,2094.5,504162.138,512571.086,1016733.275
350767,1500,Low-income countries,10,Momentum,2095,2095.5,504171.255,512522.517,1016693.759
350768,1500,Low-income countries,10,Momentum,2096,2096.5,504218.892,512517.148,1016736.049
350769,1500,Low-income countries,10,Momentum,2097,2097.5,504302.353,512554.505,1016856.850
350770,1500,Low-income countries,10,Momentum,2098,2098.5,504418.529,512633.467,1017052.025
350771,1500,Low-income countries,10,Momentum,2099,2099.5,504563.752,512752.760,1017316.502
350772,1500,Low-income countries,10,Momentum,2100,2100.5,504733.906,512910.610,1017644.501

In [19]:
df['Variant'].unique()

array(['Medium', 'High', 'Low', 'Constant fertility',
       'Instant replacement', 'Zero migration', 'Constant mortality',
       'No change', 'Momentum'], dtype=object)

### Filter data ('medium' variant)  - only relevant to some datasets from UN that have multiple variants
Note: for historical data, all variants have same population value. For future projection, medium is the most used variant (does not imply highest accuracy) as population projections are inherently very uncertainy and depends on many variables.

In [20]:
# Filter medium variant
df_med = df[df['Variant']=='Medium']

In [21]:
df_med.columns
df_med.shape

(41223, 9)

### Filter historical estimates only

In [22]:
df_med['Time'].unique()

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026,
       2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037,
       2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048,
       2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059,
       2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070,
       2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081,
       2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092,
       2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100])

In [23]:
df_hist = df_med[df_med['Time'] <= 2015]
df_hist['Time'].unique().min(), df_hist['Time'].unique().max() # now year ranges from 1950 to 2015

(1950, 2015)

In [24]:
df_hist.shape # (18018, 9) fewer entries due to reduction in years

(18018, 9)

In [25]:
df_hist.columns
df_hist.head(3)

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.118
1,4,Afghanistan,2,Medium,1951,1951.5,4134.477,3705.031,7839.510
2,4,Afghanistan,2,Medium,1952,1952.5,4173.993,3760.979,7934.980

### Select only relevant columns - Location (ie. country), Time (ie. year), PopTotal

In [26]:
df_hist.columns

Index(['LocID', 'Location', 'VarID', 'Variant', 'Time', 'MidPeriod', 'PopMale',
       'PopFemale', 'PopTotal'],
      dtype='object')

In [27]:
df_hist['VarID'].unique()

array([2])

In [28]:
df_sub = df_hist[['Location','Time','PopTotal']]
df_sub.shape

(18018, 3)

In [29]:
df_sub.tail(3)

       Location  Time   PopTotal
41135  Zimbabwe  2013  15054.506
41136  Zimbabwe  2014  15411.675
41137  Zimbabwe  2015  15777.451

### Pandas pivoting!!

In [30]:
pivoted=df_hist.pivot(index='Location', columns='Time', values='PopTotal')
pivoted.shape

(273, 66)

In [31]:
2015-1950+1 # years

66

In [32]:
pivoted.head(3)

Time,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,7752.118,7839.510,7934.980,8038.596,8150.447,8270.581,8399.030,8535.807,8680.946,8834.445,...,25893.450,26616.792,27294.031,28004.331,28803.167,29708.599,30696.958,31731.688,32758.020,33736.494
Africa,228670.019,233277.049,238113.121,243177.791,248471.497,253995.025,259750.195,265739.281,271965.261,278431.545,...,948156.166,972265.961,997144.670,1022858.654,1049446.344,1076933.813,1105285.268,1134398.192,1164129.789,1194369.908
Albania,1263.174,1287.497,1316.089,1348.099,1382.878,1419.970,1459.089,1500.149,1543.222,1588.484,...,3054.331,3023.907,2991.651,2962.635,2940.525,2926.659,2920.039,2918.978,2920.775,2923.352

### Reindexing to make Location (or country name) a separate column

Doing this to be consistent with WB datasets. Right now index column has name `Time` but it's irrelevant so not trying to rename it.

But `pivoted` and not `reindexed` has nice advantage of row access via country name.

In [33]:
pivoted.loc['Africa']
# Population is increasing for China
pivoted.loc['China'].to_dict()[2015] / pivoted.loc['China'].to_dict()[1950]

2.5198051655040312

In [34]:
reindexed = pivoted.reset_index(inplace=False)
reindexed.head(2)

Time,Location,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,7752.118,7839.510,7934.980,8038.596,8150.447,8270.581,8399.030,8535.807,8680.946,...,25893.450,26616.792,27294.031,28004.331,28803.167,29708.599,30696.958,31731.688,32758.020,33736.494
1,Africa,228670.019,233277.049,238113.121,243177.791,248471.497,253995.025,259750.195,265739.281,271965.261,...,948156.166,972265.961,997144.670,1022858.654,1049446.344,1076933.813,1105285.268,1134398.192,1164129.789,1194369.908

In [35]:
reindexed.shape
reindexed['Location']

0                             Afghanistan
1                                  Africa
2                                 Albania
3                                 Algeria
4                          American Samoa
5                                 Andorra
6                                  Angola
7                                Anguilla
8                     Antigua and Barbuda
9                               Argentina
10                                Armenia
11                                  Aruba
12                                   Asia
13                              Australia
14                  Australia/New Zealand
15                                Austria
16                             Azerbaijan
17                                Bahamas
18                                Bahrain
19                             Bangladesh
20                               Barbados
21                                Belarus
22                                Belgium
23                                 Belize
24                                  Benin
25                                Bermuda
26                                 Bhutan
27       Bolivia (Plurinational State of)
28                 Bosnia and Herzegovina
29                               Botswana
                      ...
243                               Tokelau
244                                 Tonga
245                   Trinidad and Tobago
246                               Tunisia
247                                Turkey
248                          Turkmenistan
249              Turks and Caicos Islands
250                                Tuvalu
251                                Uganda
252                               Ukraine
253                  United Arab Emirates
254                        United Kingdom
255           United Republic of Tanzania
256          United States Virgin Islands
257              United States of America
258         Upper-middle-income countries
259                               Uruguay
260                            Uzbekistan
261                               Vanuatu
262    Venezuela (Bolivarian Republic of)
263                              Viet Nam
264             Wallis and Futuna Islands
265                        Western Africa
266                          Western Asia
267                        Western Europe
268                        Western Sahara
269                                 World
270                                 Yemen
271                                Zambia
272                              Zimbabwe
Name: Location, Length: 273, dtype: object