In [2]:
import os

import matplotlib.pylab as plt
import numpy as np
import pandas as pd
import seaborn as sns
import xarray as xr


% matplotlib inline

In [4]:
# Compare Population data across
# UN
# PWT
# IMF?
# PWT

## Open data

In [8]:
pwt = '/Users/mlimb/Dropbox/covariate_project/zerg/data/PWT/pwt9_pivoted.csv'
un = '/Users/mlimb/Dropbox/covariate_project/zerg/data/UN/un_population_1215.csv'
imf = '/Users/mlimb/Dropbox/covariate_project/zerg/data/IMF/imf_population_1214.xls'
wb = '/Users/mlimb/Dropbox/covariate_project/zerg/data/WB/wb_population_1215.csv'

In [7]:
pop_pwt = pd.read_csv(pwt)
pop_un = pd.read_csv(un)
pop_wb = pd.read_csv(wb)

,Population (Millions of people),1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,30.55,31.279,32.007,33.4,36.8,36.867,36.933,37,37.514,38.028
1,Albania,2.762,2.817,2.877,2.935,2.996,3.059,3.12,3.182,3.246,...,2.895,2.889,2.881,2.876,2.876,2.874,2.87,2.865,2.861,2.856
2,Algeria,18.666,19.246,19.864,20.516,21.175,22.2,22.8,23.4,24.1,...,38.297,39.114,39.963,40.762,41.537,42.326,43.088,43.863,44.609,45.323
3,Angola,8.872,9.111,9.352,9.597,9.851,11.101,11.418,11.71,12.027,...,25.038,25.789,26.563,27.36,28.18,29.026,29.897,30.793,31.717,32.669
4,Antigua and Barbuda,0.068,0.068,0.067,0.066,0.065,0.064,0.063,0.062,0.061,...,0.087,0.088,0.089,0.09,0.091,0.092,0.093,0.094,0.095,0.096

## Convenience functions

### Function to retrieve missing # years per country for a given list of countries
```
Given a list of countries

Retrieve # of missing years for each country

Optional: *specify a dataset
Optional: replace Country Name with Country code to be more reusable
```

In [7]:
def get_missing_years(_list_of_countries):
    '''
    Parmeters
    ----
    [Python List] _list_of_countries
        list of countries (each country is a Country name as a String)
        
    Returns
    ----
    [Python List]
        a list of tuple pairs containing (country_name, #_missing_years)
    where country_name (String) and # missing_years (int)
    sorted by decreasing # of missing years
    '''
    missing_years = []
    
    return []

(192, 44)

In [14]:
df_imf.head(3)

,Population (Millions of people),1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,30.55,31.279,32.007,33.4,36.8,36.867,36.933,37,37.514,38.028
1,Albania,2.762,2.817,2.877,2.935,2.996,3.059,3.12,3.182,3.246,...,2.895,2.889,2.881,2.876,2.876,2.874,2.87,2.865,2.861,2.856
2,Algeria,18.666,19.246,19.864,20.516,21.175,22.2,22.8,23.4,24.1,...,38.297,39.114,39.963,40.762,41.537,42.326,43.088,43.863,44.609,45.323

### population data

In [35]:

# replace with NaN
replaced = df_imf.replace('no data', np.nan)
print(replaced.isnull().sum())

Population (Millions of people)     0
1980                               48
1981                               47
1982                               47
1983                               47
1984                               47
1985                               46
1986                               46
1987                               46
1988                               46
1989                               43
1990                               33
1991                               31
1992                               21
1993                               20
1994                               19
1995                               16
1996                               15
1997                               13
1998                               11
1999                               10
2000                                7
2001                                5
2002                                4
2003                                3
2004                                2
2005                                2
2006                                2
2007                                2
2008                                1
2009                                1
2010                                1
2011                                1
2012                                1
2013                                1
2014                                1
2015                                1
2016                                1
2017                                1
2018                                1
2019                                1
2020                                1
2021                                1
2022                                1
dtype: int64

In [ ]:
countries_with_complete_data = replaced[~replaced[1950].isnull()]['country']

# Syria 1980-2010, missing data 2011 - 2022
# South Sudan, 2011-2022, missing data 1980-2010
# Afghanistan 2001-2022, missing 1980-2000
# Armenia 1990-2022, missing 1980-1989
# Bahamas, The, 1992-2022, missing 1980-1991