In [1]:
import os

import numpy as np
import pandas as pd
import seaborn as sns
import xarray as xr

% matplotlib inline

In [3]:
os.listdir('./UN')

['.DS_Store', 'UNdata_Export_20171201_022351573.csv']

### UN Population Data Analysis

**Data:** downloaded on 11/30 5.28 pm

    data exists from historical/current estimates to probabilistic future projections
    
**Source:** United Nations (http://data.un.org/Data.aspx?d=PopDiv&f=variableID%3a12)

**Methodology**

**Notes**
- Deliverable: ADM0 population & real income estimates from `1950-2017`
- Data exists

**Conclusion**

**Questions**

In [4]:
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'IMF',
 'PWT',
 'pwt_income_adm1.dta',
 'task3_UN_analysis.ipynb',
 'UN',
 'WB']

In [6]:
df = pd.read_stata('pwt_income_adm1.dta')

df.describe()
# colnames are year, gdppccountry, gdppcstate, gdppc_adm0_PWT

,year,gdppccountry,gdppcstate,gdppc_adm0_PWT,gdppcstate_rescaled
count,88358.000000,9479.000000,9479.000000,88280.000000,57107.000000
mean,1985.220116,12853.722656,11863.801758,13614.154297,15259.715820
std,18.224983,11655.899414,11882.170898,15113.656250,15098.367188
min,1950.000000,365.323792,188.968506,161.594772,228.565933
25%,1970.000000,4378.643066,3032.363525,4181.044434,5059.138428
50%,1987.000000,8065.569824,6865.508789,9317.794922,10263.880859
75%,2001.000000,20244.890625,18713.495117,17801.166016,21583.263672
max,2014.000000,105184.203125,166007.296875,238585.437500,317208.687500