In [2]:
import os

import numpy as np
import pandas as pd
import seaborn as sns
import xarray as xr

% matplotlib inline

In [6]:
# os.listdir()
#  'pwt_income_adm1.dta'
#   pwt90.xlsx
#   wtf99.dta

## Open PWT (raw) Data

In [ ]:
pd.read_excel('pwt90.xlsx')

## Open UChicago Data

In [11]:
chicago_data = pd.read_stata('pwt_income_adm1.dta')

In [32]:
chicago_data.columns
chicago_data.describe()
chicago_data.size
chicago_data[10000:10030]

,countryname,countrycode,region,year,gdppccountry,gdppcstate,gdppc_adm0_PWT,gdppcstate_rescaled
10000,Switzerland,CHE,Tessin,1961,NaN,NaN,30045.757812,NaN
10001,Switzerland,CHE,Nidwalden,1961,NaN,NaN,30045.757812,NaN
10002,Switzerland,CHE,Wallis,1961,NaN,NaN,30045.757812,NaN
10003,Switzerland,CHE,Luzern,1961,NaN,NaN,30045.757812,NaN
10004,Switzerland,CHE,Appenzell A&I Rh.,1961,NaN,NaN,30045.757812,NaN
10005,Switzerland,CHE,ZÂrich,1961,NaN,NaN,30045.757812,NaN
10006,Switzerland,CHE,Solothurn,1961,NaN,NaN,30045.757812,NaN
10007,Switzerland,CHE,Neuenburg,1961,NaN,NaN,30045.757812,NaN
10008,Switzerland,CHE,Schwyz,1961,NaN,NaN,30045.757812,NaN
10009,Switzerland,CHE,Glarus,1961,NaN,NaN,30045.757812,NaN
10010,Switzerland,CHE,GraubÂnden,1961,NaN,NaN,30045.757812,NaN
10011,Switzerland,CHE,Zug,1961,NaN,NaN,30045.757812,NaN
10012,Switzerland,CHE,Schaffhausen,1961,NaN,NaN,30045.757812,NaN
10013,Switzerland,CHE,St. Gallen,1961,NaN,NaN,30045.757812,NaN
10014,Switzerland,CHE,Genf,1961,NaN,NaN,30045.757812,NaN
10015,Switzerland,CHE,Basel-Land,1961,NaN,NaN,30045.757812,NaN
10016,Switzerland,CHE,Basel-Stadt,1961,NaN,NaN,30045.757812,NaN
10017,Switzerland,CHE,Freiburg,1961,NaN,NaN,30045.757812,NaN
10018,Switzerland,CHE,Obwalden,1961,NaN,NaN,30045.757812,NaN
10019,Switzerland,CHE,Uri,1961,NaN,NaN,30045.757812,NaN
10020,Switzerland,CHE,Thurgau,1961,NaN,NaN,30045.757812,NaN
10021,Switzerland,CHE,Schwyz,1962,NaN,NaN,30629.097656,NaN
10022,Switzerland,CHE,GraubÂnden,1962,NaN,NaN,30629.097656,NaN
10023,Switzerland,CHE,Schaffhausen,1962,NaN,NaN,30629.097656,NaN
10024,Switzerland,CHE,Genf,1962,NaN,NaN,30629.097656,NaN
10025,Switzerland,CHE,Luzern,1962,NaN,NaN,30629.097656,NaN
10026,Switzerland,CHE,Glarus,1962,NaN,NaN,30629.097656,NaN
10027,Switzerland,CHE,Zug,1962,NaN,NaN,30629.097656,NaN
10028,Switzerland,CHE,Nidwalden,1962,NaN,NaN,30629.097656,NaN
10029,Switzerland,CHE,Freiburg,1962,NaN,NaN,30629.097656,NaN

In [23]:
chicago_data[['countryname', 'year', 'gdppc_adm0_PWT']]

      countryname  year  gdppc_adm0_PWT
0         Albania  1970     3766.277832
1         Albania  1970     3766.277832
2         Albania  1970     3766.277832
3         Albania  1970     3766.277832
4         Albania  1970     3766.277832
5         Albania  1970     3766.277832
6         Albania  1970     3766.277832
7         Albania  1970     3766.277832
8         Albania  1970     3766.277832
9         Albania  1970     3766.277832
10        Albania  1970     3766.277832
11        Albania  1970     3766.277832
12        Albania  1971     3825.462402
13        Albania  1971     3825.462402
14        Albania  1971     3825.462402
15        Albania  1971     3825.462402
16        Albania  1971     3825.462402
17        Albania  1971     3825.462402
18        Albania  1971     3825.462402
19        Albania  1971     3825.462402
20        Albania  1971     3825.462402
21        Albania  1971     3825.462402
22        Albania  1971     3825.462402
23        Albania  1971     3825.462402
24        Albania  1972     3887.560059
25        Albania  1972     3887.560059
26        Albania  1972     3887.560059
27        Albania  1972     3887.560059
28        Albania  1972     3887.560059
29        Albania  1972     3887.560059
...           ...   ...             ...
88328              1985     1341.086670
88329              1986     1319.567017
88330              1987     1287.098999
88331              1988     1337.860229
88332              1989     1363.666992
88333              1990     1417.178833
88334              1991     1456.779297
88335              1992     1322.787598
88336              1993     1322.290039
88337              1994     1372.141846
88338              1995     1350.098511
88339              1996     1457.253052
88340              1997     1455.701660
88341              1998     1442.900269
88342              1999     1374.440674
88343              2000     1249.447998
88344              2001     1236.739380
88345              2002     1155.272339
88346              2003     1062.144287
88347              2004     1016.005432
88348              2005      965.972290
88349              2006      920.787354
88350              2007      879.325439
88351              2008      825.363525
88352              2009     1262.618652
88353              2010     1380.802124
88354              2011     1514.654663
88355              2012     1639.062378
88356              2013     1674.318604
88357              2014     1687.633911

[88358 rows x 3 columns]